#wrapper {
   width: 960px;
   margin: 0 auto;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
}

body {
   margin: 0;
   background-color: #edede8;
}

header {
   height: 100px;
   padding: 10px 0;
   text-align: center;
   background-color: #ccc;
}

.header-logo, .images-vorschau, .sidebar-images {
   width: 5em;
}

nav {
   text-align: center;
   background-color: #f00;
   padding: 1px;
}

nav ul {
   list-style-type: none;
   background-color: #0f0;
}

nav li {
   display: inline;
   margin: 0 40px;
   background-color: #00f;
}

a {
   color: #777;
   text-decoration: none;
}

a:hover {
   color: #00f;
   text-decoration: underline;
}

section {
   width: 618px;
   height: 550px;
   float: left;
   padding: 15px;
   margin: 15px 0 0 0;
   /* margin-top: 15px; */
   border: 2px solid #dedcd9;
   background-color: #f2f2f2;
   border-radius: 5px;
}

.article {
   height: 120px;
   margin: 15px 0 50px 0;
}

.article img {
   float: left;
   padding: 5px;
   margin: 0 15px 0 0;
   border: 2px solid #dedcd9;
}

.article a {
   font-size: 18px;
}

aside {
   width: 253px;
   /* width: 327px; */
   height: 550px;
   float: right;
   /* padding: 15px; */
   padding: 15px 15px 15px 20px;
   margin: 15px 0 15px 0;
   border: 2px solid #dedcd9;
   border-radius: 5px;
   background-color: #f2f2f2;
}

.sidebar img {
   padding: 5px;
   margin: 15px 0 0 0;
   border: 2px solid #dedcd9;
}

.sidebar a {
   font-size: 18px;
   padding: 5px;
}

/* .sidebar p {
   padding: 5px;
} */

footer {
   height: 50px;
   border: 2px solid #dedcd9;
   background-color: #f2f2f2;
   border-radius: 5px;
   clear: both;
   margin: 0;
   /* background-color: #777; */
}

footer ul {
   float: left;
   list-style: none;
   padding: 0;
   margin: 15px;
}

footer li {
   margin-right: 15px;
   display: inline;
}

footer p {
   text-align: right;
   margin-right: 15px;
   color: #777;
}

#ueber_mich {
   margin: 15px;
}

#uber_mich h1 {
   color: #777;
   padding-bottom: 10px;
}

#kontakt {
   margin: 15px;
}

#kontakt h1 {
   color: #777;
   padding-bottom: 10px;
}